.DS_Store
.DS_Store?
._*
._*.*
.Spotlight-V100
.Trashes
Desktop.ini
ehthumbs.db
Thumbs.db
.vscode
/.idea
/netbeans
.settings
.classpath
.project
*.sublime-workspace

/vendor
composer.phar
composer.lock
